body {
  padding-left: 100px;
  padding-right: 100px;
}

header {
  position: relative;
}

.slogan {
  display: inline;
}

.tagline {
  font-size: 11px;
  color: grey;
  position: relative;
  left: 55px;
  bottom: 35px;
}

header h2 {
  font-size: 36px;
  font-family: Brush Script Std, Brush Script MT, cursive;
  margin-left: 50px
}

.fork {
  position: absolute;
  top: 4px;
  left: 0px;
}

.topright {
  position: absolute;
  top: 0px;
  right: 0px;
}

h1 {
  line-height: 1px;
  margin-top: 80px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin-left: 40px;
}

.title {
  position: relative;
}

.pizzafont {

}

#post {
  color: grey;
  font-size: 12px;
  margin-left: 40px;
}

.print {
  list-style: none;
  position: absolute;
  right: 80px;
  top: 15px;
}

.print li {
  display: inline;
  color: grey;
}

.bigpic {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
}

.one {
  display: inline-block;
}

.two {
  display: inline-block;
}

.context {
  color: grey;
  text-indent: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.recipe {
  background-image: url("img/list-bg.png");
  border: thin grey solid;
  margin-bottom: 20px;
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.recipe ul {
  list-style: inside circle;
  width: 300px;
}

.recipe li {
  font-size: 20px;
  color: grey;
}

.person {
  margin-top: 20px
  width: 100%;
  display: relative;
}

.person h4 {
  float: left;
}

.vanessa {
  padding: 20px;
  position: absolute;
}

.person p {
  padding-left: 100px;
  padding-top: 20px
}

h5 {
  background-color: #C88A56;
  width: 100px;
  height: 40px;
  padding: 10px;
  color: white;
  position: relative;
  float: right;
}

.lineseparator {
  height: 1px;
  background: grey;
  border-bottom: 1px solid grey;
  z-index: 0;
  margin-top: 10px;
}

footer {
  text-align: center;
  margin-top: 110px;
  color: grey;
  z-index: 1;
}

.line {
  color: grey;
}
